<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
	
	<div class="row my-boards-title">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="text-center">
				<img class="user-image" ng-src="{{user.icon}}" alt="">				
			</div>
			<h1 class="text-center">{{user.name}}</h1>
			<ul class="nav nav-tabs text-center">
			  <li role="presentation" class="active">
			  		<a href="#">
			  			<div>Boards</div>
			  			<div>0 boards</div>
			  		</a>
			  	</li>
			  <li role="presentation"><a href="#">Links</a></li>
			</ul>
		</div>
	</div>
	<div class="row my-boards-grid">
		<div ng-if="!boards.length" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-center">
			<div class="add-board">
				<h4>You have no boards yet ... :(</h4>
				<div>
					<button class="btn btn-success btn-lg" ng-click="createBoard()">Add one!</button>
				</div>
			</div>
		</div>
		<div ng-if="boards.length" ng-repeat="board in boards" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
			<div class="board-card" ng-click="goToBoard(board._id)">
				<h4>{{board.title}}</h4>
				<h4>{{board.description}}</h4>
				<div class="icon-container text-center">
					<img class="icon" ng-repeat="link in board.links " ng-src="{{link.favicon}}">
				</div>
			</div>
		</div>
		<div ng-if="boards.length" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
			<div class="add-board">
				<h4></h4>
				<div>
					<button class="btn btn-success btn-lg" ng-click="createBoard()">Add a new board!</button>
				</div>
			</div>
		</div>
	</div>





<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>