<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container-fluid">
	
	<div ng-if="!board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h1 class="text-center">You have no boards yet :(</h1>
						<button ng-click="createBoard()" class="btn btn-success btn-lg">add one!</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="text-center">{{board.title}}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col lg-12 text-center">
						<form ng-submit="addLink()">
							<input type="text" placeholder="paste link here" ng-model="newUrl.url">
						</form>
					</div>
				</div>	
				<div class="row">
					
					<div ng-if="board.links.length" ng-repeat="link in board.links" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-col">
						<div class="container-fluid">
							<div ng-click="openLink(link.url)" class="row">
								<div class="link">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 link-header no-padding">
										<h4 style="color: white; background-color: rgb({{link.faviconColors[0].color[0]}},{{link.faviconColors[0].color[1]}},{{link.faviconColors[0].color[2]}})">{{link.providerName}}</h4>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center no-padding">
										<img class="link-image" ng-if="link.images.length" ng-src="{{link.images[0].url}}">
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12no-padding">
										<p class="lead">{{link.description}}</p>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
										<p class="text-center card-p">{{link.url}}</p>
									</div>
								</div>
							</div>
						
								
							
						</div>	
					</div>
					
					<div ng-if="!board.links.length" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-links">
						<p class="text-center card-p">This board has no links yet ... add one! oneNo Links Yet :( ... Add one!</p>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>






<!-- <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 left-nav">
			<h5 class="text-center">My Boards</h5>
			<ul class="my-boards-list">
				<li>board 1</li>
				<li>board 2</li>
				<li>board 3</li>
				<li>board 4</li>
				<li>board 5</li>
				<li>add new board</li>
			</ul>
		</div> -->