<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container-fluid">
	
	<div ng-if="!board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h1 class="text-center">You have no boards yet :(</h1>
						<button ng-click="createBoard()" class="btn btn-success btn-lg">add one!</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="text-center">{{board.title}}</h1>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col lg-12 text-center">
						<form ng-submit="addLink()">
							<input type="text" placeholder="paste link here" ng-model="newUrl.url">
						</form>
					</div>
				</div>
				<div class="v-space-10"></div>
				<div class="row">	
					<div masonry>
					    <div class="masonry-brick" ng-repeat="brick in bricks">
					        <img ng-src="{{ brick.src }}" alt="A masonry brick">
					    </div>
					</div>


					<div ng-if="board.links.length" ng-repeat="link in board.links" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-col">
						<div class="container-fluid">
							<div class="row">
								<div class="link" style="border: 1px solid rgb({{link.faviconColors[0].color[0]}},{{link.faviconColors[0].color[1]}},{{link.faviconColors[0].color[2]}})">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 link-header no-padding">
										<div class="link-top-bar">
											<h4 ng-click="openLink(link.url)" style="color: white; background-color: rgb({{link.faviconColors[0].color[0]}},{{link.faviconColors[0].color[1]}},{{link.faviconColors[0].color[2]}})">
											<img class="link-favicon" style="" ng-src="{{link.favicon}}" alt="">
											{{link.providerName}}
											</h4>
										</div>
										
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
										<div class="text-center image-container">
											<img class="link-image" ng-if="!link.images.length"  ng-src="{{link.favicon}}">
											<img class="link-image" ng-if="link.images.length" ng-repeat="image in link.images" ng-src="{{image.url}}">
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12no-padding">
										<p class="lead">{{link.description}}</p>
									</div>
								</div>
							</div>
						
								
							
						</div>	
					</div>
					
					<div ng-if="!board.links.length" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-links">
						<p class="text-center card-p">This board has no links yet ... add one! oneNo Links Yet :( ... Add one!</p>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>






<!-- <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 left-nav">
			<h5 class="text-center">My Boards</h5>
			<ul class="my-boards-list">
				<li>board 1</li>
				<li>board 2</li>
				<li>board 3</li>
				<li>board 4</li>
				<li>board 5</li>
				<li>add new board</li>
			</ul>
		</div> -->