.left-nav, .board, .card-p, .link {
	
}

.board {
	
	.title, .description {
		a {
			color: black;
		}
	}



	.link {
		box-shadow: 10px 10px 5px #888888;
		overflow: auto;
		border-radius: 2px;
		.link-header {
			.link-top-bar {
				padding: 0;
				height:overflow;
			}
			.link-favicon {
				height:32px;
				width: 32px;
				background-color: Gainsboro; 

			}

			h4 {
				margin-top: 0;
				margin-bottom: 0;
				cursor: pointer;
			}
		}
		.image-container {
			padding: 10px;
			.link-image {
				width: 40px;
				height: 40px;
				margin:5px;
			}
		}
		.no-padding {
			padding: 0 !important;
		}

		
	}
}


