<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container-fluid">
	
	<div ng-if="!board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h1 class="text-center">You have no boards yet :(</h1>
						<button ng-click="createBoard()" class="btn btn-success btn-lg">add one!</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="board" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 board">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="text-center title"><a href="#" editable-text="board.title" buttons="no" onaftersave="updateBoard()">{{ board.title || "empty" }}</a></h1>
						<h2 class="text-center lead board-description"><a href="#" editable-textarea="board.description" buttons="no" submit-on-enter="true" onaftersave="updateBoard()"><em>{{ board.description || "empty" }}</em></a></h2>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col lg-12 text-center">
						<form ng-submit="addLink()">
							<input type="text" placeholder="paste link here" ng-model="newUrl.url">
						</form>
					</div>
				</div>
				<div class="v-space-10"></div>
				<div class="row links-grid">
					<div class="container-fluid">
						<div ng-if="board.links.length" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div ng-repeat="link in cols['1']" class="my-link" ng-mouseenter="link.showActions = true" ng-mouseleave="link.showActions = false" >
								<span ng-show="link.showActions" class="pull-right actions">
								   	<span class="glyphicon glyphicon-remove"></span>
								</span>
								<img ng-src="{{link.favicon}}" class="favicon">
								<span class="provider">{{link.providerName.split(' ')[0] | limitTo : 20 }}</span>
								<p class="description" ng-bind-html="link.description"></p>
							</div>
						</div>
						<div ng-if="board.links.length" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div ng-repeat="link in cols['2']" class="my-link" ng-mouseenter="link.showActions = true" ng-mouseleave="link.showActions = false" >
								<span ng-show="link.showActions" class="pull-right actions">
								   	<span class="glyphicon glyphicon-remove"></span>
								</span>
								<img ng-src="{{link.favicon}}" class="favicon">
								<span class="provider">{{link.providerName.split(' ')[0] | limitTo : 20 }}</span>
								<p class="description" ng-bind-html="link.description"></p>
							</div>
						</div>
						<div ng-if="board.links.length" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div ng-repeat="link in cols['3']" class="my-link" ng-mouseenter="link.showActions = true" ng-mouseleave="link.showActions = false" >
								<span ng-show="link.showActions" class="pull-right actions">
								   	<span class="glyphicon glyphicon-remove"></span>
								</span>
								<img ng-src="{{link.favicon}}" class="favicon">
								<span class="provider">{{link.providerName.split(' ')[0] | limitTo : 20 }}</span>
								<p class="description" ng-bind-html="link.description"></p>
							</div>
						</div>
						<div ng-if="board.links.length" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div ng-repeat="link in cols['4']" class="my-link" ng-mouseenter="link.showActions = true" ng-mouseleave="link.showActions = false" >
								<span ng-show="link.showActions" class="pull-right actions">
								   	<span class="glyphicon glyphicon-remove"></span>
								</span>
								<img ng-src="{{link.favicon}}" class="favicon">
								<span class="provider">{{link.providerName.split(' ')[0] | limitTo : 20 }}</span>
								<p class="description" ng-bind-html="link.description"></p>
							</div>
						</div>
					</div>


					<!-- <div ng-if="board.links.length" ng-repeat="link in board.links" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-col">
						
						<div class="my-link" ng-mouseenter="link.showActions = true" ng-mouseleave="link.showActions = false" >
							<span ng-show="link.showActions" class="pull-right actions">
							   	<span class="glyphicon glyphicon-remove"></span>
							</span>
							<img ng-src="{{link.favicon}}" class="favicon">
							<span class="provider">{{link.providerName.split(' ')[0] | limitTo : 20 }}</span>
							<p class="description" ng-bind-html="link.description"></p>
						</div>


					</div> -->






					
					<!-- <div ng-if="board.links.length" ng-repeat="link in board.links" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-col">
						<div class="container-fluid">
							<div class="row">
								<div class="link" ng-mouseenter="link.showRemove = true" ng-mouseleave="link.showRemove = false" style="border: 1px solid rgb({{link.faviconColors[0].color[0]}},{{link.faviconColors[0].color[1]}},{{link.faviconColors[0].color[2]}})">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 link-header no-padding">
										<div class="link-top-bar">
											<h4 ng-click="openLink(link.url)" style="color: white; background-color: rgb({{link.faviconColors[0].color[0]}},{{link.faviconColors[0].color[1]}},{{link.faviconColors[0].color[2]}})">
											<img class="link-favicon" style="" ng-src="{{link.favicon}}" alt="">
											{{link.providerDisplay}}
											<span ng-show="link.showRemove" ng-click="removeLink($index); $event.stopPropagation()" class="glyphicon glyphicon-remove pull-right remove-link"></span>
											</h4>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
										<div class="text-center link-content image-container">
											<img class="link-image" ng-if="!link.images.length"  ng-src="{{link.favicon}}">
											<img class="link-image" ng-if="link.images.length" ng-repeat="image in link.images" ng-src="{{image.url}}">
											<h4 class="link-title text-left">{{link.title}}</h4>
											<p class="link-description text-left"><a href="#" editable-textarea="link.description" buttons="no" submit-on-enter="true" onaftersave="updateLink(link)">{{ link.description || "empty" }}</a></p>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
										<div class="notes">
											<div class="notes-header">
												Notes:
											</div>
											<form ng-submit="createLinkComment(link)">
												<img ng-src="{{user.icon}}" class="comment-icon"><input type="text" class="note-input" placeholder="annotate :)" ng-model="link.newComment">
											</form>
											<div ng-if="link.comments.length" class="notes-list">
												<div ng-repeat="comment in link.comments" class="clearfix">
													<img ng-src="{{comment.author.icon}}" class="comment-icon pull-left">
													<div class="pull-left">
														<div class="note-author-name">{{comment.author.name}}</div>
														<div class="note-text">{{comment.text}}</div>
													</div>		
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->

				</div>
					
				<div ng-if="!board.links.length" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-links">
					<p class="text-center card-p">This board has no links yet ... add one! oneNo Links Yet :( ... Add one!</p>
				</div>

			</div>

		</div>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>







<!-- <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 left-nav">
			<h5 class="text-center">My Boards</h5>
			<ul class="my-boards-list">
				<li>board 1</li>
				<li>board 2</li>
				<li>board 3</li>
				<li>board 4</li>
				<li>board 5</li>
				<li>add new board</li>
			</ul>
		</div> -->
