.board {
	padding: 0px;
	.title, .board-description, .link-description {
		a {
			color: black;
		}
	}
	.links-grid {
		background-color: whitesmoke;
	}
	.link {
		box-shadow: 10px 10px 5px #888888;
		background-color: white;
		// overflow: auto;
		border-radius: 2px;
		height: 300px;
		overflow: none;
		margin-top: 20px;
		.link-header {
			.link-top-bar {
				padding: 0;
				height:overflow;
				.remove-link {
					padding-top: 5px;
					padding-right: 5px;
				}
			}
			.link-favicon {
				height:32px;
				width: 32px;
				background-color: Gainsboro; 
			}
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				cursor: pointer;
			}
		}
		.link-content {
			height: 266px;
			overflow: scroll;
			padding: 10px;
			.link-title {
				margin-top: 10px;
			}
			.link-image {
				width: 40px;
				height: 40px;
				margin:5px;
			}
		}
		.notes {
			outline: 1px solid black;
			background-color: white;
			.notes-header {
				border: 3px solid black;
				padding: 2px 5px;
				background-color: black;
				color: white;
			}
			.comment-icon {
				width: 40px;
				height: 40px;
				margin: 5px;
			}
			.note-input {
				width: 83%;
			}
			.notes-list {
				height: 100px;
				overflow: scroll;
				.note-author-name {
					font-weight: bold;
				}
				.note-author-name:hover {
					color: blue;
					cursor: pointer;
				}
			}
		}		
		.no-padding {
			padding: 0 !important;
		}
		.editable-wrap, .editable-input {
			width: 100%;
			min-height: 150px;
		}
	}
}


